@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html {
  scroll-behavior: smooth; }

main {
  padding-top: 6.25rem;
  padding-bottom: 5rem;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-color: #241E20;
  background-attachment: fixed; }

.seccion {
  padding-top: 10rem !important; }

.fondo--negro {
  background-color: #241E20; }

.color--blanco {
  color: #fcfcfc; }

.color--naranja {
  color: #ca3225; }

.fuenteTitulos {
  font-family: "Poppins", sans-serif;
  color: #fcfcfc; }

.fuenteTexto {
  font-family: "Montserrat", sans-serif;
  color: #fcfcfc; }

.link {
  text-decoration: underline; }

.link:hover {
  color: #fcfcfc;
  cursor: pointer; }

@media (max-width: 1340px) {
  .showToggle {
    display: none !important; } }

.nav-link:hover {
  color: #fcfcfc;
  text-decoration: underline; }

@media (max-width: 768px) {
  #nosotros_link {
    padding-top: 20px; } }

.left-navbar {
  font-size: 2rem; }

.leftLink {
  color: inherit; }

.leftLink:hover {
  transition: all 150ms ease-in;
  transform: scale(1.5); }

#leftNavContainerSumate, #leftNavContainerNosotros, #leftNavContainerExperiencias, #leftNavContainerGaleria, #leftNavContainerContacto {
  height: 60vh; }

.borde--derecho {
  border-right: 1px solid #fcfcfc; }

.footerLink {
  color: inherit;
  text-decoration: underline; }

.footerLink:hover {
  color: #fcfcfc;
  text-decoration: underline; }

@media (max-width: 425px) {
  .footer__ddDiv {
    display: none; } }

@media (max-width: 768px) {
  .footer_contact_img {
    display: none; }
  .footer_derechos {
    order: 2; }
  .footer_dd {
    padding-left: 1rem !important; }
  #derechos_p {
    padding-bottom: 20px; } }

@media (min-width: 768px) {
  .footer__ddDiv--alternative {
    display: none; } }

@media (min-width: 1024px) {
  .footer_dd {
    text-align: right; }
  .footer_creators {
    padding-left: 1.5rem; } }

.imgPrincipal {
  object-fit: cover; }

.button__styled {
  font-family: "Poppins", sans-serif;
  color: #fcfcfc;
  background: linear-gradient(90deg, #ca3225 0%, #dc5542 49.85%, #d0539B 100%);
  border-radius: 100px;
  border: 0px;
  position: absolute; }

@media (max-width: 768px) {
  .button__styled {
    display: none; } }

@media (min-width: 1024px) {
  .button__styled {
    margin-top: 22rem;
    margin-left: -35rem; } }

@media (min-width: 1440px) {
  .button__styled {
    margin-top: 30rem;
    margin-left: -50rem; } }

@media (min-width: 2056px) {
  .button__styled {
    margin-top: 34rem;
    margin-left: -50rem; } }

@media (min-width: 1340px) {
  .nosotros_parrafo {
    text-align: right; }
  .nosotros_photo-uno {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; } }

@media (max-width: 1340px) {
  .nosotros_photo-uno {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .nosotros_photo-dos {
    display: flex;
    flex-direction: row;
    justify-content: center; } }

@media (max-width: 425px) {
  .nosotros_pDiv {
    text-align: center; } }

.barraRegular {
  background-image: url("../img/fondoBarraRegular.png");
  max-width: 300px;
  min-width: 300px;
  max-height: 511px;
  min-height: 497px;
  transition: 0.4s ease-out; }
  .barraRegular .barra__ul {
    padding-top: 50px;
    visibility: hidden; }
  .barraRegular .bottomCardExperiencias {
    margin-top: 90px;
    margin-left: 240px; }
  .barraRegular .bottomCardExperiencias:hover {
    text-decoration: underline;
    cursor: pointer; }

.barraRegular:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out; }

.barraRegularOnHover {
  background-color: #ca3225;
  max-width: 300px;
  min-width: 300px;
  max-height: 511px;
  min-height: 498px; }
  .barraRegularOnHover .barra__ul {
    padding-top: 50px; }
  .barraRegularOnHover .bottomCardExperiencias {
    margin-top: 90px;
    margin-left: 240px; }
  .barraRegularOnHover .bottomCardExperiencias:hover {
    text-decoration: underline;
    cursor: pointer; }

.barraRegularOnHover:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out; }

.barraPremium {
  background-image: url("../img/fondoBarraPremium.png");
  max-width: 300px;
  min-width: 300px;
  max-height: 511px;
  min-height: 498px;
  transition: 0.4s ease-out; }
  .barraPremium .barra__ul {
    padding-top: 50px;
    visibility: hidden; }
  .barraPremium .bottomCardExperiencias {
    margin-top: 90px;
    margin-left: 240px; }
  .barraPremium .bottomCardExperiencias:hover {
    text-decoration: underline;
    cursor: pointer; }

.barraPremium:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out; }

.barraPremiumOnHover {
  background-color: #ca3225;
  max-width: 300px;
  min-width: 300px;
  max-height: 511px;
  min-height: 498px; }
  .barraPremiumOnHover .barra__ul {
    padding-top: 50px; }
  .barraPremiumOnHover .bottomCardExperiencias {
    margin-top: 90px;
    margin-left: 240px; }
  .barraPremiumOnHover .bottomCardExperiencias:hover {
    text-decoration: underline;
    cursor: pointer; }

.barraPremiumOnHover:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out; }

.barraExclusiva {
  background-image: url("../img/fondoBarraExclusiva.png");
  max-width: 300px;
  min-width: 300px;
  max-height: 511px;
  min-height: 498px;
  transition: 0.4s ease-out; }
  .barraExclusiva .barra__ul {
    padding-top: 50px;
    visibility: hidden; }
  .barraExclusiva .bottomCardExperiencias {
    margin-top: 90px;
    margin-left: 240px; }
  .barraExclusiva .bottomCardExperiencias:hover {
    text-decoration: underline;
    cursor: pointer; }

.barraExclusiva:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out; }

.barraExclusivaOnHover {
  background-color: #ca3225;
  max-width: 300px;
  min-width: 300px;
  max-height: 511px;
  min-height: 498px; }
  .barraExclusivaOnHover .barra__ul {
    padding-top: 50px; }
  .barraExclusivaOnHover .bottomCardExperiencias {
    margin-top: 90px;
    margin-left: 240px; }
  .barraExclusivaOnHover .bottomCardExperiencias:hover {
    text-decoration: underline;
    cursor: pointer; }

.barraExclusivaOnHover:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out; }

.whatsapp-scrollTop {
  margin-bottom: 35px;
  padding-right: 1rem; }

.whatsapp-scrollBottom {
  margin-bottom: 120px;
  padding-right: 1rem; }

@media (max-width: 1340px) {
  .wp {
    display: none; }
  .contact_photo {
    display: none; }
  .contact_details {
    margin-left: 1rem; } }
